/* Padding between days checkboxes in Constraints page */
#daysDiv label{
  padding-right:5px;
  padding-left:15px;
}

/* White coloring the text of the TimePicker in Constraints page */
.MuiOutlinedInput-input{ 
  color: white !important;;
}

/* coloring the calendar's day headers (they were white so text was invisible) in Scheduels page */
.fc-col-header {
  background-color:#282c34;
}

.center_elem{
  text-align: center;
  margin: auto;
}

div svg{
  margin: auto;
}
.full_width{
  width:100%;
}

.full_width td{
  vertical-align: top;
  width: 50%;
}

.border{
  border: 1px solid white;
  padding: 10px;
}

.horizontalAlign{
  float: left;
  clear: none;
}

/* NavBar*/
.nav-bar ul{
  padding: 0px;
  border-bottom: 1px solid;
} 
.nav-bar li{
  padding: 8px;
  display: inline;
} 
.nav-bar li a{
  color:white;
  text-decoration: none;
}

/* General page layout */
.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* General page layout end */